<h1>This is the User Dashboard</h1>
<h1>Hello {{username}}! 🙂</h1>

{{!-- {{#if username === 'Ironhacker' && password === 'password'}}
  <h2>Welcome!</h2>
{{else}}
  <p>Not authroized!</p>
{{/if}} --}}