<h1>All products page!</h1>
{{#each products}}

  <li><a href="/products/{{_id}}">{{name}}</a></li>

{{/each}}
<br />
<a href="/products/new">Create New Product</a>

<br />
<br />

{{! We create a from that does a GET request }}
{{! GET is the default method }}
{{! http://localhost:3000/movieSearch?q=<query> }}

{{! <form action="/productSearch" method="GET">
  <label for="query">Search for a Product</label>
  <input type="text" id="query" name="q" />
  <button type="submit">Search</button>
</form> }}